<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control del Administrador</title>
</head>
<body>
    <h2>Panel de Control del Administrador</h2>
    <a href="{{ url_for('marcar_respondido') }}">Marcar Cotización como Respondida</a><br>
    <a href="{{ url_for('eliminar_cotizaciones') }}">Eliminar Cotizaciones</a><br>
    <a href="{{ url_for('index') }}">Volver a la Página Principal</a>
</body>
</html>
